@charset "UTF-8";

:root{
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    --ff-asap: "Asap", sans-serif;
    --ff-inconsolata: "Inconsolata", monospace;
    --ff-maven: "Maven Pro", sans-serif;

    --title-lg: 700 56px/120% var(--ff-asap);
    --title-md: 700 24px/120% var(--ff-asap);
    --title-sm: 700 16px/120% var(--ff-asap);

    --subtitle: 400 20px/120% var(--ff-inconsolata);

    --text-md: 400 16px/140% var(--ff-maven);
    --text-sm: 400 14px/140% var(--ff-maven);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--gray-600);
    font: var(--text-md);
}

h1,h2,h3{
    font: inherit;
}

#intro{
    background: url(../assets/bg/Background_Intro.png) center/cover no-repeat;
}

.container{
    padding-inline: 120px;
    max-width: 1366px;
    margin-inline: auto;
}