@import url(global.css);

#info{
    padding: 120px 163px 183px 163px;
}

header{
    /* max-width: 680px; */
    padding: 0px 180px 80px 180px;

    /* margin-bottom: 80px; */
    /* height: 750px; */

    img{
        width: 112px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    text-align: center;

    h1{
        color: var(--gray-100);
    }

    h2{
        margin-block: 56px 8px;
    }

    p{
        color: var(--gray-300);
        margin-top: 20px;
    }
}

ul#skills{
    list-style: none;
    /* justify-content: center; */
    gap: 16px;

    li{
        padding: 8px 16px;
        background-color: var(--gray-400);
        border-radius: 999px;

        img{
            width: 24px;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }

    /* margin-bottom: 94px; */
}

