@import url(global.css);

#intro{
    background: url(../assets/bg/Background_Intro.png) center / cover no-repeat;
    /* height: 750px; */

    #doubledown{
        position: relative;

        img{
            position: absolute;
            left: calc(50% - 16px);
            bottom: 57px;

            width: 32px;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
}

#projects{
    #projects-header{
        margin-top: 72px;
    }

    #projects-grid{
        a{
            display: inline-block;
            text-decoration: none;
            color: inherit;
        }

        div.card{
            padding: 12px 12px 17px;
            border-radius: 12px;
            background-color: var(--gray-400);

            h2{
                margin-bottom: 8px;
            }

            img{
                border-radius: 8px;
                width: 100%;
                margin-bottom: 20px;
            }

            transition: 0.3s ease;
            &:hover{
                /* border: 1px solid var(--gray-200); */
                /* outline: 1px solid white; */
                box-shadow: 0px 0px 15px 0px var(--gray-200);
                margin: -5px;
            }
        }
        margin-bottom: 144px;
    }

}

#services{
    background-color: var(--gray-600);
    padding-top: 88px;

    .services-card{
        padding: 20px;
        border-radius: 12px;
        outline: 1px solid var(--gray-500);

        h2{
            margin-block: 20px 8px;
        }
    }

    padding-bottom: 120px;
}

aside{
    background: url(../assets/bg/Background_Contacts.png) top / cover no-repeat;

    padding-block: 128px 200px;
    
    ul{
        margin-top: 48px;

        li{
            /* background-color: var(--gray-400);
            border-radius: 8px;
            padding: 20px;
            width: 400px; */

            /* box-shadow: 0px 0px 15px 0px var(--blue); */

            /* &:hover{
                box-shadow: 0px 0px 15px 0px var(--blue);
            } */

            a{
                background-color: var(--gray-400);
                border-radius: 8px;
                padding: 20px;
                width: 400px;

                span:last-child{
                    margin-left: auto;
                }

                transition: 0.5s;

                span.arrow{
                    background-image: url(../assets/icons/ArrowUpRight.svg);
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    background-position: center;
                }

                span#linkedin{
                    background-image: url(../assets/icons/LinkedinLogo.svg);
                    background-repeat: no-repeat;
                    width: 28px;
                    height: 28px;
                    background-position: center;
                }

                span#instagram{
                    background-image: url(../assets/icons/InstagramLogo.svg);
                    background-repeat: no-repeat;
                    width: 28px;
                    height: 28px;
                    background-position: center;
                }

                span#github{
                    background-image: url(../assets/icons/GithubLogo.svg);
                    background-repeat: no-repeat;
                    width: 28px;
                    height: 28px;
                    background-position: center;
                }

                span#email{
                    background-image: url(../assets/icons/EnvelopeSimple.svg);
                    background-repeat: no-repeat;
                    width: 28px;
                    height: 28px;
                    background-position: center;
                }

                &:hover{
                    box-shadow: 0px 0px 15px 0px var(--blue);
                    margin: -1px;

                    span.arrow{
                        background-image: url(../assets/icons/Hover/HoverArrowUpRight.svg);
                    }

                    span{
                        color: var(--blue);
                    }
                    
                    span#linkedin{
                        background-image: url(../assets/icons/Hover/HoverLinkedinLogo.svg);
                    }

                    span#instagram{
                        background-image: url(../assets/icons/Hover/HoverInstagramLogo.svg);
                    }

                    span#github{
                        background-image: url(../assets/icons/Hover/HoverGithubLogo.svg);
                    }

                    span#email{
                        background-image: url(../assets/icons/Hover/HoverEnvelopeSimple.svg);
                    }
                }
            }
        }
    }
}