@import url(global.css);

#intro{
    background: url(../assets/bg/Background_Intro.png) center / cover no-repeat;
    /* height: 750px; */

    #doubledown{
        position: relative;

        img{
            position: absolute;
            left: calc(50% - 16px);
            bottom: 57px;

            width: 32px;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
}

#projects{
    #header{
        margin-top: 72px;
    }

    #grid{
        a{
            display: inline-block;
            text-decoration: none;
            color: inherit;
        }

        div.card{
            padding: 12px 12px 17px;
            border-radius: 12px;
            background-color: var(--gray-400);

            h2{
                margin-bottom: 8px;
            }

            img{
                border-radius: 8px;
                width: 100%;
                margin-bottom: 20px;
            }

            transition: 0.3s ease;
            &:hover{
                /* border: 1px solid var(--gray-200); */
                /* outline: 1px solid white; */
                box-shadow: 0px 0px 15px 0px var(--gray-200);
                margin: -5px;
            }
        }
        margin-bottom: 144px;
    }
}