@import url(global.css);

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.j-center{
    justify-content: center;
    align-items: center;
}

.align-items-center{
    align-items: center;
}

.padding-120{
    padding-inline: 120px;
}

.gap-8{
    gap: 8px;
}

/* Text sizes */

.title-lg{
    font: var(--title-lg);
}

.title-md{
    font: var(--title-md);
} 

.title-sm{
    font: var(--title-sm);
}

.subtitle{
    font: var(--subtitle);
}

.text-md{
    font: var(--text-md);
}

.text-sm{
    font: var(--text-sm);
}

/* Colors */

.red{
    color: var(--red);
}

.purple{
    color: var(--purple);
}

.blue{
    color: var(--blue);
}

.green{
    color: var(--green);
}

.yellow{
    color: var(--yellow);
}
