@import url(global.css);

/* .container-p{
    padding-inline: 120px;
} */

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.grid{
    display: grid;
}

.grid-columns-3{
    grid-template-columns: repeat(3,1fr);
}

.j-center{
    justify-content: center;
    align-items: center;
}

.align-items-center{
    align-items: center;
}

.padding-120{
    padding-inline: 120px;
}

.gap-8{
    gap: 8px;
}

.gap-24{
    gap: 24px;
}

/* Text sizes */

.title-lg{
    font: var(--title-lg);
}

.title-md{
    font: var(--title-md);
} 

.title-sm{
    font: var(--title-sm);
}

.subtitle{
    font: var(--subtitle);
}

.text-md{
    font: var(--text-md);
}

.text-sm{
    font: var(--text-sm);
}

/* Colors */

.red{
    color: var(--red);
}

.purple{
    color: var(--purple);
}

.blue{
    color: var(--blue);
}

.green{
    color: var(--green);
}

.yellow{
    color: var(--yellow);
}

.gray-100{
    color: var(--gray-100);
}

.gray-200{
    color: var(--gray-200);
}

.gray-300{
    color: var(--gray-300);
}

.gray-400{
    color: var(--gray-400);
}

.gray-500{
    color: var(--gray-500);
}

.gray-600{
    color: var(--gray-600);
}
